<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                          https://maven.apache.org/xsd/settings-1.0.0.xsd">

    <interactiveMode>true</interactiveMode>
    <usePluginRegistry>false</usePluginRegistry>
    <offline>false</offline>
    <pluginGroups/>
    <servers/>
    <mirrors/>
    <proxies>
        <proxy>
            <id>http-proxy</id>
            <active>true</active>
            <protocol>http</protocol>
            <host>bcproxy.sgp.dbs.com</host>
            <port>8080</port>
            <username>parameshwarlu</username>
            <password>becool!143</password>
            <nonProxyHosts>nexuscimgmt.sgp.dbs.com|localhost|127.0.0.1</nonProxyHosts>
        </proxy>
        <proxy>
            <id>https-proxy</id>
            <active>true</active>
            <protocol>https</protocol>
            <host>bcproxy.sgp.dbs.com</host>
            <port>8080</port>
            <username>parameshwarlu</username>
            <password>becool!143</password>
            <nonProxyHosts>nexuscimgmt.sgp.dbs.com|localhost|127.0.0.1</nonProxyHosts>
        </proxy>
    </proxies>
</settings>
